* {
    box-sizing: border-box;
    width: 100%;
    margin: 0;
    list-style-type: none;
    font-size: 25px;
    background-color: #242b35;
    color: antiquewhite;
    font-family: Arial, Helvetica, sans-serif;
}

header, ul, footer, section, .other-projects{
    display: flex;
}

header, footer {
    border: 2px solid #413f49;
}

#name {
    font-size: 125%;
    width: 50%;
}

#contact-me {
    font-size: 50%;
    text-align: center;
    width: 30%;
    padding: 5px;
}

.contacts {
    font-size: 50%;
}

p {
    padding: 5px;
    font-size: 65%;
}

ul {
    padding: 5px;
    text-align: center;
}

li {
    font-size: 70%;
}

a {
    font-size: 90%;
    text-decoration: none;
}

.projects-image {
    border: 5px solid #413f49;
    filter: none;
    -webkit-filter: grayscale(40%);
    -moz-filter:    grayscale(40%);
    -ms-filter:     grayscale(40%);
    -o-filter:      grayscale(40%);
}

.projects-image:hover {
    border: 5px solid #da7c59;
    filter: none;
    -webkit-filter: grayscale(0%);
    -moz-filter:    grayscale(0%);
    -ms-filter:     grayscale(0%);
    -o-filter:      grayscale(0%);
}

.projects-image:hover + .caption{
    background-color: #da7c59;
    border: 5px solid #da7c59;
}

.header-image {
    width: 100%;
    padding: 0;
}

.section-title {
    width: 30%;
    border-right: 2px solid #413f49;
}

.other-projects {
    flex-wrap: wrap;
}

.major-project {
    width: 100%;
    padding: 5px;
    position: relative;
}

.other-projects {
    align-items: center;
    justify-content: center;
}

.minor-projects {
    width: 50%;
    padding: 5px;
    position: relative;
}

.caption {
    position: absolute;
    background-color: #413f49;
    border: 5px solid #413f49;
    color: white;
    bottom: 16px;
    right: 10px;
    width: auto;
    height: auto;
    font-size: 85%;
}



@media screen and (max-width: 600px) {
    .minor-projects {
        width: 100%;
    }
    header, footer {
        display: inline-block;
    }
    
    #name {
        width: 100%;
        text-align: center;
    }

    #contact-me {
        display: none;
    }
    
    ul {
        display: block;
    }
}